[build]
  base = "app"
  publish = ".next"
  command = "npm run build"

[build.environment]
  NETLIFY_NEXT_PLUGIN_SKIP = "true"
  NODE_VERSION = "18"
  NEXT_TELEMETRY_DISABLED = "1"

[build.processing]
  skip_processing = true

[[plugins]]
  package = "@netlify/plugin-nextjs"
