.article-content p {
  margin-bottom: 2.5rem;
  line-height: 1.7;
  font-size: 1rem;
  letter-spacing: 0.01em;
}

.article-content p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .article-content p {
    font-size: 1.05rem;
  }
}
